MYSQL_DATABASE=coffee_order
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=coffee
MYSQL_PASSWORD=coffee

DB_URL=jdbc:mysql://localhost:3306/coffee_order
DB_USERNAME=coffee
DB_PASSWORD=coffee

REDIS_HOST=localhost
REDIS_PORT=6379

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
